---
http_interactions:
- request:
    method: get
    uri: https://api.meetup.com/2/events?group_id=1460552&fields=name&key=586b3a2d4f6b3040507256466b55327f
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-meetup-server:
      - api1.int.meetup.com
      x-ratelimit-limit:
      - '200'
      x-ratelimit-remaining:
      - '199'
      x-ratelimit-reset:
      - '1354395600'
      x-oauth-scopes:
      - basic
      x-accepted-oauth-scopes:
      - basic
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: ! '{"results":[{"visibility":"public","status":"upcoming","maybe_rsvp_count":0,"venue":{"id":8200962,"zip":"45242","lon":-84.378868,"name":"Panera","state":"OH","address_1":"11033
        Reed Hartman Highway Blue Ash, OH 45242","lat":39.266865,"city":"Cincinnati","country":"us"},"id":"qzkfddyqqbhb","utc_offset":-18000000,"time":1354710600000,"waitlist_count":0,"yes_rsvp_count":3,"created":1352990726000,"updated":1352990726000,"event_url":"http:\/\/www.meetup.com\/TechLife-Cincinnati\/events\/91513572\/","description":"<p>Meet
        for breakfast, coffee, and Clojure coding at Panera. We will be doing \"swarm\"
        group coding on something fun.<\/p>\n<p>Panera location: 11033 Reed Hartman
        Highway Blue Ash, OH 45242<\/p>","headcount":0,"name":"Cincy Clojure and Coffee","group":{"id":1460552,"group_lat":39.27000045776367,"name":"TechLife
        Cincinnati","group_lon":-84.41000366210938,"join_mode":"open","urlname":"TechLife-Cincinnati","who":"members"}},{"status":"upcoming","visibility":"public","maybe_rsvp_count":0,"venue":{"id":983169,"zip":"45209","lon":-84.442532,"name":"Health
        Foundation of Greater Cincinnati","state":"OH","address_1":"3805 Edwards Rd","address_2":"5th
        Floor","lat":39.148198,"city":"Cincinnati","country":"us"},"id":"93334652","utc_offset":-18000000,"duration":3600000,"time":1354885200000,"waitlist_count":0,"updated":1354208845000,"created":1354204641000,"yes_rsvp_count":2,"event_url":"http:\/\/www.meetup.com\/TechLife-Cincinnati\/events\/93334652\/","description":"<p>Battle
        of the Tablets! <br \/>\n\nWhich one is best for you? What to buy that special
        someone a tablet for under the Christmas Tree? Work or just play? <br \/>\n\nJoin
        us as our advocates for Android, MS Surface and iPad battle to convince you
        that their favorite tablet is the one you should choose. <br \/>\n\nWe''ll
        explore connectivity, speed, versatility and the best apps for each of the
        platforms. Look under the hood to understand your \"all in costs\" for the
        tablet and[...]
