---
http_interactions:
- request:
    method: get
    uri: https://api.meetup.com/TechLife-Cincinnati/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Meetup-Server:
      - ip-10-192-13-58
      X-Meetup-Request-Id:
      - 0f400837-69ed-4a9f-8264-88a85c508942
      X-Oauth-Scopes:
      - basic
      X-Accepted-Oauth-Scopes:
      - basic
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '10'
      X-Total-Count:
      - '82'
      Etag:
      - '"525f042af7af533dbfd31bd371ef7ad1-gzip"'
    body:
      encoding: ASCII-8BIT
      string: '[{"created":1590181223000,"duration":7200000,"id":"tdtmsrybcnbkc","name":"CINNUG/CinARC
        Monthly Meeting","date_in_series_pattern":false,"status":"upcoming","time":1603836000000,"local_date":"2020-10-27","local_time":"18:00","updated":1603126077000,"utc_offset":-14400000,"waitlist_count":0,"yes_rsvp_count":18,"venue":{"id":26906060,"name":"Online
        event","repinned":false,"country":"","localized_country_name":""},"is_online_event":true,"group":{"created":1243032644000,"name":"TechLife
        Cincinnati","id":1460552,"join_mode":"open","lat":39.27000045776367,"lon":-84.41000366210938,"urlname":"TechLife-Cincinnati","who":"members","localized_location":"Cincinnati,
        OH","state":"OH","country":"us","region":"en_US","timezone":"US/Eastern"},"link":"https://www.meetup.com/TechLife-Cincinnati/events/tdtmsrybcnbkc/","description":"<p>Catching
        up with the CINNUG Community online<br/>This month, we will be catching up
        with our community online using Zoom.</p> <p>CINNUG:</p> <p>A Day in the Life
        of a Developer using GitHub for Better DevOps<br/>With over 50 million users
        worldwide and 100 million repositories, GitHub is the center of the open source
        universe. Yet GitHub is also a wonderful platform for practicing good DevOps
        with your private and inner-source projects. In this[...]
[...]
