---
http_interactions:
- request:
    method: get
    uri: https://api.meetup.com/2/events?fields=name&group_id=1460552&key=<API KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Meetup-Server:
      - ip-10-192-12-154
      X-Meetup-Request-Id:
      - 55e13415-7adf-4c69-b274-ecc8b4e862ad
      Www-Authenticate:
      - OAuth realm="https://api.meetup.com/"
    body:
      encoding: ASCII-8BIT
      string: '{"details":"API requests must be key-signed, oauth-signed, or accompanied
        by a key: https:\/\/www.meetup.com\/meetup_api\/docs\/#authentication","code":"not_authorized","problem":"You
        are not authorized to make that request"}

        '
  recorded_at: Fri, 22 May 2020 19:28:56 GMT
recorded_with: VCR 5.1.0
