---
http_interactions:
- request:
    method: get
    uri: https://api.meetup.com/TechLife-Cincinnati/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - basic
      X-Accepted-Oauth-Scopes:
      - basic
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '10'
      X-Total-Count:
      - '81'
      Etag:
      - '"5b2660ff1c891a3344aa95e91e2249e1-gzip"'
      X-Geo-Gql-Beta:
      - east
      X-Geo-Rest-Beta:
      - east
      X-Geo:
      - east
    body:
      encoding: ASCII-8BIT
      string: '[{"created":1655948621000,"duration":7200000,"id":"rvbvvsyfccbgb","name":"CINPA
        Monthly Meeting","date_in_series_pattern":false,"status":"upcoming","time":1672876800000,"local_date":"2023-01-04","local_time":"19:00","updated":1655948621000,"utc_offset":-18000000,"waitlist_count":0,"yes_rsvp_count":1,"is_online_event":true,"group":{"created":1243032644000,"name":"TechLife
        Cincinnati","id":1460552,"join_mode":"open","lat":39.27000045776367,"lon":-84.41000366210938,"urlname":"TechLife-Cincinnati","who":"members","localized_location":"Cincinnati,
        OH","state":"OH","country":"us","region":"en_US","timezone":"US/Eastern"},"link":"https://www.meetup.com/techlife-cincinnati/events/rvbvvsyfccbgb/","description":"<p>N.B.:
        Check comments here (below) or [<a href=\"http://www.cinpa.org/meeting-topic](http://www.cinpa.org/meeting-topic\"
        class=\"linkified\">http://www.cinpa.org/meeting-topic](http://www.cinpa.org/meeting-topic</a>)
        each month for new meeting LINK.</p> <p>Cincinnati Networking Professionals
        Association - CINPA</p> <p>Monthly Meeting - FIRST WEDNESDAY - Typically we
        have an IT Industry professional present on a subject of interest. Oftentimes
        these are hardware, software or services vendors.</p> <p>We usually take a
        break half way through the evening for a pizza (etc.) socializing time.</p>
        <p>Specific meeting information can be found at CINPA website ([<a href=\"http://www.cinpa.org/meeting-topic](http://www.cinpa.org/meeting-topic\"
        class=\"linkified\">http://www.cinpa.org/meeting-topic](http://www.cinpa.org/meeting-topic</a>))</p>
        ","visibility":"public","member_pay_fee":false},{"created":1578415364000,"duration":10800000,"id":"rhfrmryfccbnb","name":"Cincy
        Functional Programmers","date_in_series_pattern":false,"status":"upcoming","time":1673393400000,"local_date":"2023-01-10","local_time":"18:30","updated":1578415364000,"utc_offset":-18000000,"waitlist_count":0,"yes_rsvp_count":0,"venue":{"id":26800165,"name":"8035
        Hosbrook Rd","lat":39.203285217285156,"lon":-84.37220764160156,"repinned":false,"address_1":"8035
        Hosbrook Rd","city":"Cincinnati","country":"us","localized_country_name":"USA","zip":"45236","state":"OH"},"is_online_event":false,"group":{"created":1243032644000,"name":"TechLife
        Cincinnati","id":1460552,"join_mode":"open","lat":39.27000045776367,"lon":-84.41000366210938,"urlname":"TechLife-Cincinnati","who":"members","localized_location":"Cincinnati,
        OH","state":"OH","country":"us","region":"en_US","timezone":"US/Eastern"},"link":"https://www.meetup.com/techlife-cincinnati/events/rhfrmryfccbnb/","description":"<p>Functional
        Programmers Group meets 2nd [...]
