---
http_interactions:
- request:
    method: get
    uri: https://api.meetup.com/TechLife-Cincinnati/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Meetup-Server:
      - ip-10-192-12-241
      X-Meetup-Request-Id:
      - e8e95f22-c099-4a47-a27c-c58103c9a36a
      X-Oauth-Scopes:
      - basic
      X-Accepted-Oauth-Scopes:
      - basic
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '10'
      X-Total-Count:
      - '82'
      Etag:
      - '"02b74b573ff6766f068eb5af3981bbc9-gzip"'
    body:
      encoding: ASCII-8BIT
      string: '[{"created":1581044881000,"duration":7200000,"id":"kpdtnrybcpbgb","name":"CINPA
        Monthly Meeting","date_in_series_pattern":false,"status":"upcoming","time":1604534400000,"local_date":"2020-11-04","local_time":"19:00","updated":1581044881000,"utc_offset":-18000000,"waitlist_count":0,"yes_rsvp_count":1,"venue":{"id":26850099,"name":"4350
        Glendale Milford Rd","lat":39.25368118286133,"lon":-84.3868637084961,"repinned":false,"address_1":"4350
        Glendale Milford Rd","city":"Cincinnati","country":"us","localized_country_name":"USA","zip":"45242","state":"OH"},"is_online_event":false,"group":{"created":1243032644000,"name":"TechLife
        Cincinnati","id":1460552,"join_mode":"open","lat":39.27000045776367,"lon":-84.41000366210938,"urlname":"TechLife-Cincinnati","who":"members","localized_location":"Cincinnati,
        OH","state":"OH","country":"us","region":"en_US","timezone":"US/Eastern"},"link":"https://www.meetup.com/TechLife-Cincinnati/events/kpdtnrybcpbgb/","description":"<p>Cincinnati
        Networking Professionals Association - CINPA</p> <p>Monthly Meeting - Typically
        we have an IT Industry professional present on a subject of interest. Oftentimes
        these are hardware, software or services vendors.</p> <p>We usually take a
        break half way through the evening for a pizza (etc.) socializing time.</p>
        <p>Specific meeting information can be found at CINPA website (<a href=\"http://www.cinpa.org\"
        class=\"linkified\">http://www.cinpa.org</a>)</p> ","how_to_find_us":"Room
        140","visibility":"public","member_pay_fee":false},{"created":1549651282000,"duration":7200000,"id":"ltjlrqybcpbqb","name":"Agile
        Cincinnati","date_in_series_pattern":false,"status":"upcoming","time":1605220200000,"local_date":"2020-11-12","local_time":"17:30","updated":1549651282000,"utc_offset":-18000000,"waitlist_count":0,"yes_rsvp_count":2,"venue":{"id":26050737,"name":"4445
        Lake Forest Dr","lat":39.25311279296875,"lon":-84.38318634033203,"repinned":false,"address_1":"4445
        Lake Forest Dr","city":"Blue Ash","cou[...]
