%section#home
  .container.row
    .eight.columns
      %h1 Cincy.rb - Cincinnati Ruby Brigade
      = image_tag('logo.png', alt: 'Cincy.rb logo', id: 'logo')
      %p
        %strong Cincinnati Ruby Brigade
        is a group of local developers who talk about Ruby specific topics and share code.
      = link_to_location_map 'Write code with us!', :target => '_blank'
    #next.four.columns
      %section
        %article#next-meeting
          %p
            = image_tag 'spinner.gif'
            Loading...
        %article#location-info
  / end #container
= render :partial => "past_events"
