<section class="u-push__top">
  <h2 class="u-push__top">Past Cincy.rb Event Recordings</h2>
  <p class="intro intro--wide u-push__top--none">
    Here is a collection of recorded events from our previous gatherings.
    Meetups are recorded when there is a speaker presentation. You'll find them here!
  </p>
</section>
<%= render :partial => "past_events" %>
