<section>
  <%= image_tag('cincyrb-icon', alt: 'Cincy.rb logo', id: 'logo') %>
  <h1>Cincy.rb</h1>
  <p>
    <strong>Cincinnati Ruby Brigade</strong>
    is a group of local developers who talk about Ruby specific topics and share code.
  </p>
  <%= link_to_location_map 'Write code with us!', :target => '_blank' %>
  <%= render 'next_meeting' %>
</section>

<%= render :partial => "past_events" %>
