%section#home
  .container.row
    .eight.columns
      %h1 Cincy.rb - Cincinnati Ruby Brigade
      = image_tag('logo.png', alt: 'Cincy.rb logo', id: 'logo')
      %p
        %strong Cincinnati Ruby Brigade
        is a group of local developers who talk about Ruby specific topics and share code.
      %a{:href => "http://goo.gl/BwcH2", :target => "_blank"} Write code with us!
    #next.four.columns
      %section
        %article#next-meeting
          %p
            = image_tag 'spinner.gif'
            Loading...
        %article#location-info
  / end #container
= render :partial => "past_events"

%section#sponsors
  .container.row
    %h2 Sponsors
    %a.become-a-sponsor{:href => "mailto:info@gaslightsoftware.com"} + become a sponsor
    .sponsors.container.row
      %article#edgecase.four.columns
        %a.logo{:href => "http://www.edgecase.com", :target => "_blank"} EdgeCase
        %p Rhoncus dui facilisis a. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.
        %a{:href => "http://www.edgecase.com", :target => "_blank"} www.edgecase.com
      %article#engine-yard.four.columns
        %a.logo{:href => "http://www.engineyard.com", :target => "_blank"} Engine Yard
        %p Rhoncus dui facilisis a. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.
        %a{:href => "http://www.engineyard.com", :target => "_blank"} www.engineyard.com
      %article#gaslight.four.columns
        %a.logo{:href => "http://www.gaslightsoftware.com", :target => "_blank"} Gaslight Software
        %p Rhoncus dui facilisis a. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.
        %a{:href => "http://www.gaslightsoftware.com", :target => "_blank"} www.gaslightsoftware.com
