body {
  background-color: #FBFBFB;
  margin: 0 auto;
  max-width: 1400px;
  padding: $space-md;
}

.offset-col {
  display: grid;
  grid-template-columns: 1fr 35%;
  grid-template-rows: 30px auto auto;
  grid-template-areas:
    "left right"
    "left right"
    ".    right";
  gap: $space-xl;

  @media screen and (max-width: $screen-tablet) {
    display: block;

    > * {
      margin-bottom: $space-md;
    }
  }

  @media screen and (max-width: 1235px) {
    display: grid;
    grid-template-columns: 1fr 35%;
    gap: $space-lg;

    > * {
      margin-bottom: $space-md;
    }
  }

  &__left {
    grid-area: left;
  }

  &__right {
    grid-area: right;
  }

}
