body {
  background-color: #FBFBFB;
  margin: 0 auto;
  max-width: 1400px;
  padding: $space-md;
}

.offset-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "left ."
    "left right"
    ".    right";
  gap: $space-xl;

  &__left {
    grid-area: left;
  }

  &__right {
    grid-area: right;
  }
}
