// FLEX
.u-flex {
  display: flex;
    align-items: baseline;
    gap: $space-md;

  &__justify {
    &--between {
      justify-content: space-between;
    }
  }
}

.u-text {
  &--sm {
    font-size: $font-size-sm;
  }
}

.u-flex {
  align-items: start;
  display: flex;
}

.u-icon {
  width: 30px;
}

// MARGIN
.u-push {
  margin: $space-md;

  &--xs {
    margin: $space-xs;
  }

  &--sm {
    margin: $space-sm;
  }

  &--lg {
    margin: $space-lg;
  }

  &--xl {
    margin: $space-xl;
  }

  &__top {
    margin-top: $space-md;

    &--xs {
      margin-top: $space-xs;
    }

    &--sm {
      margin-top: $space-sm;
    }

    &--lg {
      margin-top: $space-lg;
    }

    &--xl {
      margin-top: $space-xl;
    }
  }

  &__right {
    margin-right: $space-md;

    &--xs {
      margin-right: $space-xs;
    }

    &--sm {
      margin-right: $space-sm;
    }

    &--lg {
      margin-right: $space-lg;
    }

    &--xl {
      margin-right: $space-xl;
    }
  }

  &__bottom {
    margin-bottom: $space-md;

    &--xs {
      margin-bottom: $space-xs;
    }

    &--sm {
      margin-bottom: $space-sm;
    }

    &--lg {
      margin-bottom: $space-lg;
    }

    &--xl {
      margin-bottom: $space-xl;
    }
  }

  &__left {
    margin-left: $space-md;

    &--xs {
      margin-left: $space-xs;
    }

    &--sm {
      margin-left: $space-sm;
    }

    &--lg {
      margin-left: $space-lg;
    }

    &--xl {
      margin-left: $space-xl;
    }
  }
}


// PADDING
.u-pad {
  padding: $space-md;

  &--xs {
    padding: $space-xs;
  }

  &--sm {
    padding: $space-sm;
  }

  &--lg {
    padding: $space-lg;
  }

  &--xl {
    padding: $space-xl;
  }

  &__top {
    padding-top: $space-md;

    &--xs {
      padding-top: $space-xs;
    }

    &--sm {
      padding-top: $space-sm;
    }

    &--lg {
      padding-top: $space-lg;
    }

    &--xl {
      padding-top: $space-xl;
    }
  }

  &__right {
    padding-right: $space-md;

    &--xs {
      padding-right: $space-xs;
    }

    &--sm {
      padding-right: $space-sm;
    }

    &--lg {
      padding-right: $space-lg;
    }

    &--xl {
      padding-right: $space-xl;
    }
  }

  &__bottom {
    padding-bottom: $space-md;

    &--xs {
      padding-bottom: $space-xs;
    }

    &--sm {
      padding-bottom: $space-sm;
    }

    &--lg {
      padding-bottom: $space-lg;
    }

    &--xl {
      padding-bottom: $space-xl;
    }
  }

  &__left {
    padding-left: $space-md;

    &--xs {
      padding-left: $space-xs;
    }

    &--sm {
      padding-left: $space-sm;
    }

    &--lg {
      padding-left: $space-lg;
    }

    &--xl {
      padding-left: $space-xl;
    }
  }
}
