$space-xs: .5rem;
$space-sm: 1rem;
$space-md: 2rem;
$space-lg: 4rem;
$space-xl: 6rem;

$white: #ffffff;
$gray: #C7C7C7;
$black: #333;
$color-info: #F9BC51;

$border: 1px solid $gray;
$border-radius: 10px;

$box-shadow: 0px 0px 10px transparentize($black, .9);
