<p id="notice"><%= notice %></p>

<h1>Speakers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Bio</th>
      <th>Email</th>
      <th>Image URL</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @speakers.each do |speaker| %>
      <%= render partial: 'speaker', locals: { speaker: speaker } %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Speaker', new_admin_speaker_path %>
