<%= form_with(model: admin_past_event, local: true) do |form| %>
  <% if admin_past_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_past_event.errors.count, "error") %> prohibited this admin_past_event from being saved:</h2>

      <ul>
        <% admin_past_event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
