<h1>Past Events</h1>

<table>
  <thead>
    <tr>
      <th>Topic</th>
      <th>Date</th>
      <th>Speakers</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @past_events.each do |past_event| %>
      <%= render partial: 'past_event', locals: { past_event: past_event } %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Past Event', new_admin_past_event_path %>
