#meeting-details
  #photos
    %ul.media-grid
      %li
        %a{:href => "#"}
          %img{:src => "/assets/cincyrb3.jpg"}
  #next-meeting

#location-details

  #location-map

  #location-directions
    %h2="Location:"

    #location-info
