<h2>This Month in Ruby</h2>
<h3><a class="jumping" id="resources">Resources</a></h3>
<ul>
  <li><a href="https://rubyweekly.com/" target="_blank">Ruby Weekly</li>
  <li><a href="https://ruby.social/" target="_blank">Ruby.Social</li>
  <li><a href="https://twitter.com/hashtag/rubylang" target="_blank">#rubylang</a> on Twitter</li>
</ul>

<h3><a class="jumping" id="2022-11">November 2022</a></h3>
<ol>
  <li>This latest Ruby version is: <a href="https://www.ruby-lang.org/en/news/2022/04/12/ruby-3-1-2-released/" target="_blank">3.1.2</a>.
    The third preview of <a href="https://www.ruby-lang.org/en/news/2022/11/11/ruby-3-2-0-preview3-released/" target="_blank">3.2.0</a>
    has been released.
  </li>
  <li>The latest Ruby on Rails versions is: <a href="https://rubyonrails.org/2022/9/9/Rails-7-0-4-6-1-7-6-0-6-have-been-released" target="_blank">7.0.4</a>.
    There are currently no previews of 7.1 nor 8.0.
  </li>
  <li><a href="https://www.mikeperham.com/2022/10/27/introducing-sidekiq-7.0/" target="_blank">Sidekiq 7.0</a> has been released. tl;dr new
    <a href="https://www.mikeperham.com/2022/10/27/sidekiq-7.0-metrics/" target="_blank">metrics</a>, requires Redis 6.2+ and EOL for Sidekiq 5.x.
  </li>
  <li><a href="https://github.com/faker-ruby/faker/blob/main/CHANGELOG.md#v300-2022-11-01" target="_blank">Faker 3.0.0</a> has been released. The breaking
    change is that positional arguments have been dropped in favor of keyword arguments.
  </li>
  <li>We've added <a href="https://ruby.social" target="_blank">ruby.social</a> to <a href="#resources">Resources</a> above.</li>
  <li>CincyRB turns 14 on Nov. 18th!</li>
</ol>

<h3><a class="jumping" id="2022-09">September 2022</a></h3>
<ol>
  <li>This latest Ruby version is: <a href="https://www.ruby-lang.org/en/news/2022/04/12/ruby-3-1-2-released/" target="_blank">3.1.2</a>.
    The second preview of <a href="https://www.ruby-lang.org/en/news/2022/09/09/ruby-3-2-0-preview2-released/" target="_blank">3.2.0</a>
    has been released.
  </li>
  <li>The latest Ruby on Rails versions is: <a href="https://rubyonrails.org/2022/9/9/Rails-7-0-4-6-1-7-6-0-6-have-been-released" target="_blank">7.0.4</a>.
    There are currently no previews of 7.1 nor 8.0.
  </li>
  <li>Rack version <a href="https://world.hey.com/this.week.in.rails/rack-3-and-rails-7-0-4-6-1-7-and-6-0-6-releases-actiondispatch-cookies-etc-67ee6b56" target="_blank">3.0</a>
    has been release and includes breaking changes from Rack 2.0. An <a href="https://github.com/rack/rack/blob/main/UPGRADE-GUIDE.md" target="_blank">upgrade guide</a>
    is provided for those upgrading servers, middleware and applications.
  </li>
  <li><a href="https://rubyconf.org/">RubyConf</a> is Nov. 29 - Dec. 1 in Houston, TX. The 2023 <a href="https://railsconf.org/" target="_blank">RailsConf</a>
    dates and location have not yet been announced.
  </li>
  <li>Heads up! Heroku is <a href="https://blog.heroku.com/next-chapter" target="_blank">phasing out its free plans</a>. Combined with
    the <a href="https://help.heroku.com/X5OE6BCA/heroku-18-end-of-life-faq" target="_blank">Heroku-18 stack deprecation</a> now's a
    good time to review your Heroku hosted apps.
  </li>
  <li>Did you know that you can create a <a href="https://gist.github.com/agilous/af886a0a847f24464c0f643c49e1c4a6" target="_blank">single page Rails app</a>?
</ol>

