development:
  secret_key_base: '53210391d4acb335a5a6f1b8f394758022eb52c7a8fe9e3086b72b22e68ff2ae1672a57ac9e46b9c05e25fffef5b9ffbe520cb62d9c011e7e0f686adfbe06c90'

test:
  secret_key_base: '2849ddbc0719f6995d7bd77e9709e4c5345d8434fcba38d88850fb2054c27b1bcb96e304d2963fac7abf1feba923faeccb52fa928166f32ad9faca193d72fc41'

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
