!!!5
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", :"http-equiv" => "Content-Type"}
  %body
    %h1
      Feedback from cincyrb.com
    %p
      From: #{@contact.name} (#{@contact.email})
    %p
      Subject: #{@contact.subject}
    %p
      Message: 
      #{@contact.message}
