.header,
header {
  display: flex;
    justify-content: space-between;
    align-items: start;

  @media screen and (max-width: $screen-tablet) {
    display: block;
  }

  &__illustration {
    max-height: 100vh;
    max-width: 80%;
    position: absolute;
      top: 0;
      right: 0;
    z-index: -1;

    @media screen and (max-width: $screen-tablet) {
      top: -26px;
    }
  }
}
