.past-event  {
  margin-bottom: $space-lg;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: $space-xl;

  @media screen and (max-width: 995px) {
    grid-template-columns: 1fr 1fr;
    grid-gap: $space-lg;
  }

  @media screen and (max-width: $screen-mobile) {
    display: block;
  }

  &__blob {
    fill: $red;
    height: 100px;
    position: absolute;
      top: -30px;
      left: -40px;
    z-index: -1;
  }

  &__date {
    display: flex;
    font-weight: bold;
    margin: 0;
    font-size: 1rem;
    color: grey;
    align-items: center;
  }

  &__description {
    font-size: $font-size-sm;
  }

  &__topic {
    font-size: 1.3rem;
    line-height: 1.5rem;
    margin-bottom: $space-xs;
  }

  &__video {

  }

  &__speakers {
    display: flex;
    flex-wrap: wrap;
    gap: $space-md;
  }

}
