.sponsorship {
  display: flex;
    align-items: flex-end;
    color: $white;
    flex-direction: column;

  @media screen and (max-width: $screen-mobile) {
    align-items: flex-start;
    color: $black;
    margin-top: $space-md;
  }

  &__sponsor{
    align-items: center;
    display: flex;
    gap: 0;
    text-transform: capitalize;
    font-size: .8rem;
    letter-spacing: 1px;
    white-space: nowrap;

    img {
      max-width: 50px;
    }
  }

  &__logo {
    background-image: url('/assets/gaslight_mark-inverse.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;

    @media screen and (max-width: $screen-mobile) {
      background-image: url('/assets/gaslight_mark.png');
      width: 35px;
    }
  }

  .become-a-sponsor,
  a {
    align-items: center;
    color: $white;
    display: flex;
    font-size: .8rem;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    @media screen and (max-width: $screen-mobile) {
      color: $black;
    }
  }
}
