@import "bootstrap"
@import url(http://fonts.googleapis.com/css?family=Lekton)

html, body
  background-image: url('gray_sand.png')
  background-repeat: x,y

.brand
  background-image: url('rubylogo_large.png')
  background-repeat: no-repeat
  padding-bottom: 3em
  height: 16em

.brand h1
  padding-top: 1em
  padding-left: 2em
  font-family: 'Lekton', sans-serif
  font-weight: 400
  font-size: 8em 

#main-section
  padding-top: 3em
  padding-left: 1.3em
  padding-right: 1.3em
  @include fixed-container
  background: #fff
  background-image: url('stucco.png')
  background-repeat: x,y

#marketing
  padding-bottom: 4em

#nav-bar
  @extend .pills
  padding-bottom: 1em

#hello-ruby
  @include makeColumn(4)
  padding-left: 2em

#about-us
  @include makeColumn(6)
  @include offset(1)
  font-size: 2em
  padding-left: 1em

#about-us h2
  padding-bottom: 1em

#sponsors
  @include makeColumn(3)
  @include offset(1)

#meeting-details
  @extend .row
  padding-left: 2em
  padding-bottom: 4em

#meeting-details h2
  padding-bottom: 1em

#photos
  @include makeColumn(6)

#next-meeting
  @include makeColumn(8)
  padding-left: 1em

#location-details
  @extend .row
  padding-left: 2em
  padding-bottom: 1.3em

#location-map
  @include makeColumn(6)
  width: 630px
  height: 430px 

#location-directions
  @include makeColumn(3)
  padding-left: 2em

footer
  @include gradientBar(#111, #202020)
  margin: 0
  padding: 2em
