<div class='four columns' id='next'>
  <section>
    <article id='next-meeting'>
      <p>
        <em>Our Next Meeting</em>
      <h3><%= Time.at(@next_meeting['time']).strftime('%I:%M %P on %b %e') %></h3>
      </p>
    </article>
  </section>
</div>