<div class='four columns' id='next'>
  <section>
    <article id='next-meeting'>
      <p>
        <em>Our Next Meeting</em>
      <h3><%= @next_meeting %></h3>
      </p>
    </article>
  </section>
</div>