<article id='next next-meeting' class="event event--next">
  <div class="event__date">
    <%= Time.at(@next_meeting['time']/1000).strftime('%b %-d') %>
  </div>
  <div class="event__time">
    <%= Time.at(@next_meeting['time']/1000).strftime('%l:%M %P') %>
  </div>
  <a href="https://www.meetup.com/TechLife-Cincinnati/events/<%= @next_meeting['id'] %>" target="_blank">RSVP</a>
</article>
