<h1>Videos</h1>

<table>
  <thead>
    <tr>
      <th>URL</th>
      <th>Past Event</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @videos.each do |video| %>
      <%= render partial: 'video', locals: { video: video } %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Video', new_admin_video_path %>
