!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %title Cincinnati.rb
    %link{:href => "/assets/application.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Lato:100italic,300,400|PT+Serif:400,400italic,700,700italic", :rel => "stylesheet", :type => "text/css"}/
    = javascript_include_tag :application
    /[if IE] <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    /[if lt IE 9] <link rel="stylesheet" media="all" type="text/css" href="css/ie.css" />
  %body{ :class => page_class }
    #nav-bar
      .fill
        .container
          %h1.brand= link_to "Cincinnati.rb", root_url
          %ul.nav
            %li= link_to "About Us", "#"
    #main-section
      .hero-unit
        .row
          .span8
            %h1="Welcome"
            %br
            %p="Cincinnati Ruby Brigade was formed lorem ipsum Cincinnati Ruby Brigade was formed lorem ipsum Cincinnati Ruby Brigade was formed lorem ipsum Cincinnati Ruby Brigade was formed lorem ipsum"
          .span6
            :erb
              <pre class="prettyprint">
                class HelloRubist
                  def welcome(name)
                    puts "Welcome #/{name}!"
                  end

                  #your codes here -->

                end
              </pre>
      =yield
      #sponsors
        %h3="Sponsors"
        %ul
          %li
            %p="Tech Pub"
          %li
            %p="The Circut"
          %li
            %p="Gaslight Software"
  %footer
    .fill
      .row
        .span16
          %span="footer stuff goes here"
