!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %title Cincinnati.rb
    %link{:href => "/assets/application.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Lato:100italic,300,400|PT+Serif:400,400italic,700,700italic", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Lekton", :rel => "stylesheet", :type => "text/css"}/

    = javascript_include_tag :application
    /[if IE] <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    /[if lt IE 9] <link rel="stylesheet" media="all" type="text/css" href="css/ie.css" />
  %body{ :class => page_class }
    #main-section
      #marketing
        .row
          .span16
            .brand
              %h1="Cincinnati.rb"
        .row
          .span16
            %ul#nav-bar
              %li.active= link_to "About Us", "#About Us"
              %li= link_to "Next Meeting", "#Next Meeting"
        .row
          #hello-ruby
            :erb
              <pre class="prettyprint">
                class HelloRubyist
                  def welcome(name)
                    puts "Welcome #{name} lets get hacking!"
                  end

                  #your codes here -->

                end
              </pre>
          #about-us
            %h2="About us"
            %p="Cincinnati Ruby Brigade was formed by local developers who desired a place to talk about Ruby specific topics and share code. It has since grown into a thriving community as vibrant and creative as the Ruby language itself."
            %p="Today we meet on the third tuesday of every month to discuss and hack on Ruby code and strieve to keep to the principle of less slides more code."
      =yield
  %footer
    .fill
      .row
        .span16
          %span="footer stuff goes here"
